body {
  font-family: Arial, sans-serif;
  background-image: "imagens/plano_fundo_icet.jpg";
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
}
.reservaSalas {
  width: 200px;
  height: 100px;
  background-color: #3e8e41;
  text-align: center;
}

.salas {
  width: 100px;
  height: 30px;
  margin: 20px;
  padding: 10px;
  background-color: rgb(145, 247, 194);
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.blocos {
  width: 200px;
  margin: 20px;
  padding: 20px;
  background-color: rgb(141, 178, 159);
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card2 {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #3764bc;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card h2 {
  font-size: 24px;
  margin-top: 0;
}

.card p {
  margin-top: 10px;
}

.card a {
  display: block;
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.card a:hover {
  background-color: #3e8e41;
}
.card-icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
  margin-bottom: 20px;
}
.login {
  width: 400px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.login h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #4caf50;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservaForm {
  width: 400px;
  flex-direction: column;
  align-items: center;
}
label {
  font-size: 18px;
  margin-bottom: 10px;
  color: #4caf50;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #79d8f5;
  border-color: #3e8e41;
}

i {
  margin-right: 10px;
}
